/* Main Navbar */
.Navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  padding: 10px 20px;
  position: fixed;
  top: 0px; /* Adjusts if top header is visible */
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* When the navbar is scrolled */
.Navbar.scrolled {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* When the banner is visible, adjust navbar position */
.Navbar.navbarWithBanner {
  top: 30px; /* Adjust top space when banner is visible */
}

.Navbar.navbarWithOutBanner {
  top: 0px; /* Adjust top space when banner is visible */
}
.searchButton {
  border: none;
  background: none;
  padding: 0;
  font-size: 16px;
  color: #6c757d;
}

.searchButton:hover {
  color: #28a745;
}

.icon {
  font-size: 18px;
  color: #6c757d;
}

.icon:hover {
  color: #28a745;
}
